<!DOCTYPE html>
<html lang="es">
<head>
    {% include '_header.html' %}
    <title>Login | Hospital General</title>
</head>
<body>
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% load static %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="{% static 'img/portada.png' %}"
                    class="img-fluid w-75 h-auto d-block mx-auto" alt="logo hospital">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-outline mb-4">
                            {{ field }}
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        {% endfor %}
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">
                            Iniciar Sesión
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>